.recommendedVideos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
}
.videoCard {
  width: 270px;
  margin-bottom: 40px;
}
.videoCard__thumbnail {
  width: 250px;
  height: 140px;
  margin-bottom: 10px;
}
.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}
.videoCard_info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.videoCard_text{
  margin-left: 15px;
}
.videoCard_text>p{
  font-size: 14px;
  color: gray;
}